* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, #3b3a3a, #031220, #0b1a13);
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --font-size-large: 3rem;
  --font-size-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-medium: 1.8rem;
}

main {
  height: auto;
}

[id]::before {
  content: "";
  display: block;
  height: 70px;
  margin-top: -70px;
}

.secao-topo {
  width: 100vw;
  height: 4rem;
  background-color: #3b3a3a;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

header.no-shadow {
  box-shadow: none;
}

header.shadow {
  box-shadow: 0 0.1px 4px #ffffff57;
}

.linksTopo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.linksTopo a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  transition: color 0.3s;
}

.linksTopo a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #e0f7fa, #b2ebf2, #80deea, #4dd0e1);



  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.linksTopo a:hover {
  background: linear-gradient(to right, #e0f7fa, #b2ebf2, #80deea, #4dd0e1);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.menu-sanduiche {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* seção banner */

.secao-banner,
#projetos {
  width: 100%;
  height: 100vh;
}

.titulo1 {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--primary-color);
}

.dev {
  text-align: center;
  margin: 2rem 0 1.8rem 0;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.btn-link {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.download-btn {
  text-decoration: none;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  background: linear-gradient(to right, #020024, #090979, #06aaca);
  padding: 3px 10px;
  text-shadow: 0 0 1px #333;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.btn-email {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 10px;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.download-btn:hover,
.btn-email:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* container sobre mim */

.container-sobre-mim {
  width: 90%;
  max-width: 780px;
  height: 16.8rem;
  margin: 30px auto;
  display: flex;
  background-color: #3b3a3a;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
}

.container-sobre-mim:hover {
  transform: scale(1.04);
}

.sobre-mim {
  margin: 10px;
  display: flex;
}

.sobre-mim p {
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.3;
  flex: 1;
}

.foto-perfil img {
  max-height: 15.6rem;
  max-width: 20rem;
  border-radius: 5px;
  margin-left: 10px;
  object-fit: cover;
}


.sobre-mim span {
  display: inline-block;
  white-space: nowrap;
}


/* seção tecnologias */

.tecnologias {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.titulo-tec {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-top: 70px;
}

.agrupa-tec {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 30rem;
  margin: 50px auto 0 auto;
}

.agrupa-tec img {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.agrupa-tec img:hover {
  transform: rotateY(180deg);
}

.agrupa-tec p {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  gap: 20px;
}

.tec1,
.tec2,
.tec3,
.tec4,
.tec5 {
  width: 300px;
  min-width: 5rem;
  height: 300px;
  min-height: 150px;
  object-fit: cover;
  background-color: #3b3a3a;
  margin: 15px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #f5eded4d;
  transition: transform 0.3s ease-in-out;
}


.tec1:hover,
.tec2:hover,
.tec3:hover,
.tec4:hover,
.tec5:hover {
  transform: scale(1.03);
}

.html {
  max-width: 350px;
  height: auto;
  position: absolute;
  left: -24%;
  top: 35px;
}

.css {
  max-width: 270px;
  position: absolute;
  left: 1px;
  top: 60px;
}

.js {
  max-width: 190px;
  position: absolute;
  top: 60px;
  left: 15px;
}

.react {
  max-width: 210px;
  position: absolute;
  top: 50px;
  left: 13px;
}

.linux {
  max-width: 150px;
  position: absolute;
  top: 40px;
  left: 50px;
}

/* seção projetos */

.titulo-projetos {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-top: 70px;
}

#projetos {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  border: 2px solid transparent;
}

.agrupa-card-projetos {
  width: 80%;
  height: 65%;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}


.projeto-amarante-cosmeticos,
.dakarFunilariaPintura,
.gasTech {
  width: 500px;
  height: 300px;
  overflow: hidden;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.projeto-amarante-cosmeticos:hover,
.dakarFunilariaPintura:hover,
.gasTech:hover {
  transform: scale(1.03);
}

.projeto-amarante-cosmeticos p,
.dakarFunilariaPintura p,
.gasTech p {
  font-size: 1rem;
  color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.imagem-amarante-cosmeticos,
.imagem-funilaria,
.imagem-gasTech {
  width: 100%;
  height: 90%;
  border-radius: 2px;
  object-fit: cover;
}

/* Seção Rodapé */

.rodape {
  width: 100%;
  height: 80px;
  background-color: #3b3a3a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.email {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210px;
}

.icon-envelope {
  width: 30px;
}

.rodape p {
  font-size: 12px;
  color: #fff;
}

.agrupa-redes {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.agrupa-redes a {
  text-decoration: none;
}

.icon-linkedin,
.icon-github,
.icon-whats {
  border-radius: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
}

@media (min-width:769px) and (max-width:1024px) {
  .secao-banner {
    height: auto;
  }

  .container-sobre-mim {
    height: max-content;
    display: flex;
  }

  .sobre-mim {
    flex-direction: column-reverse;
    height: max-content;
  }

  .sobre-mim p {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    line-height: 1.4rem;
  }

  .foto-perfil {
    text-align: center;
    height: 300px;
    margin: 8px;
  }

  .foto-perfil img {
    width: 400px;
    min-height: 300px;
  }

  .agrupa-tec {
    flex-wrap: wrap;
    gap: 20px;
  }

  .agrupa-card-projetos {
    display: flex;
    flex-direction: column;
  }

  /* seção tecnologias */

  .tecnologias {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  [id]::before {
    content: "";
    display: block;
    height: 70px;
    margin-top: -10px;
  }

  /*media seção banner */
  .secao-banner {
    border: 1px solid transparent;
    height: auto;
  }

  .titulo1 {
    font-size: 2rem;
    flex-wrap: wrap;
  }

  .container-sobre-mim {
    height: auto;
    width: 95%;
    transition: transform 3s ease-in-out;
  }

  .container-sobre-mim:hover {
    transform: scale(1.01);
  }

  .sobre-mim {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .sobre-mim p {
    font-size: 0.7rem;
  }

  .sobre-mim span {
    display: inline-block;
    white-space: nowrap;
    width: min-content;
  }

  .sobre-mim #idade::before {
    height: min-content
  }


  .foto-perfil img {
    max-height: 13rem;
    width: 20rem;
    margin: 5px;
    box-shadow: 0 0 5px rgb(20, 19, 19);
  }

  /*   /*media seção tecnologias */
  .tecnologias {
    height: auto;
  }

  .titulo-tec {
    margin-top: 10px;
  }

  .agrupa-tec {
    height: 30rem;
    border: 46px solid #333;
  }

  .agrupa-tec p {
    margin: 10px;
  }

  .tec1,
  .tec2,
  .tec3,
  .tec4,
  .tec5 {
    height: 300px;
    max-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .html {
    width: 20vw;
    top: 23%;
    right: calc(15% - 10px);
  }

  .css {
    width: 13vw;
    top: 33%;
    left: calc(9% - 10px);
  }

  .js {
    width: 9vw;
    top: 35%;
    left: calc(27% - 10px);
  }

  .react {
    width: 11vw;
    top: 35%;
    left: calc(22% - 10px);
  }

  .linux {
    width: 8vw;
    top: 30%;
    left: calc(35% - 10px);
  }

  /* seção projetos */

  #projetos {
    height: auto;
  }

  .titulo-projetos {
    margin-top: 10px;
  }

  .agrupa-card-projetos {
    width: 95%;
    height: max-content;
    display: flex;
    gap: 10px;
  }


  .projeto-amarante-cosmeticos,
  .dakarFunilariaPintura,
  .gasTech {
    width: calc(100% / 2);
    height: 300px;
    overflow: hidden;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
}

@media(min-width: 320px) and (max-width: 480px) {
  .secao-topo {
    justify-content: flex-end;
    background: transparent;
  }

  header.shadow {
    box-shadow: none;
  }

  .linksTopo a:first-of-type {
    display: none;
  }

  .linksTopo {
    display: flex;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50px;
    width: 70%;
    height: 25px;
    background-color: #1f24209f;
    margin: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .linksTopo.ativo {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
  }



  .menu-sanduiche {
    display: block;
    cursor: pointer;
    margin: 10px;
  }

  .sobre-mim {
    margin: 10px;
    display: flex;
  }

  .sobre-mim p {
    padding: 5px;
    letter-spacing: 0.2rem;
    line-height: 1.2rem;
    border: 1px solid rgba(128, 128, 128, 0.137);
    width: 95%;
  }

  .sobre-mim span {
    display: inline-block;
    white-space: nowrap;
    width: min-content;

  }

  .sobre-mim #idade::before {
    height: min-content
  }


  .titulo1 {
    font-size: 1rem;
  }

  .dev {
    font-size: 1rem;
  }

  .secao-banner {
    height: 100%;
    margin-top: -15%;
  }

  /* media seção tecnologia */
  .tecnologias {
    height: 100%;
  }

  .titulo-tec {
    font-size: 1.5rem;
    text-align: center;
    margin-top: -70px;
  }

  .agrupa-tec {
    width: 100%;
    display: block;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    margin-top: 20px;
    border: 46px solid #333;
  }

  .tec1,
  .tec2,
  .tec3,
  .tec4,
  .tec5 {
    height: 8rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }


  .html {
    width: 40vw;
    top: 20%;
    left: calc(23% - 10px);
  }

  .css {
    width: 28vw;
    top: 27%;
    left: calc(30% - 10px);
  }

  .js {
    width: 22vw;
    top: 30%;
    left: calc(37% - 10px);
  }

  .react {
    width: 25vw;
    top: 20%;
    left: calc(35% - 10px);
  }

  .linux {
    width: 25vw;
    top: 5%;
    left: calc(35% - 10px);
  }

  /* media seção projetos */

  #projetos {
    height: auto;
    margin-top: -70px;
  }

  .titulo-projetos {
    font-size: 1.5rem;
  }

  .agrupa-card-projetos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .projeto-amarante-cosmeticos,
  .dakarFunilariaPintura,
  .gasTech {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    transition: transform 5s ease-in-out;
  }

  /* seção rodape */
  .rodape {
    height: 12rem;
    flex-direction: column;
  }

  .rodape p {
    font-size: 0.7rem;
  }

  .copy {
    text-align: center;
    line-height: 1.5;
  }

  .simbol {
    font-size: 1.6rem;
    vertical-align: -0.2em;
  }

  .agrupa-redes {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 1px;
  }
}